@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@font-face {
  font-family: "Karbon";
  src: url("../css/fonts/karbon/Karbon-Regular.ttf");
}
@font-face {
  font-family: "Karbon-Medium";
  src: url("../css/fonts/karbon/Karbon-Medium.ttf");
}
@font-face {
  font-family: "Karbon-Bold";
  src: url("../css/fonts/karbon/Karbon-Bold.ttf");
}
@font-face {
  font-family: "Karbon-Italic";
  src: url("../css/fonts/karbon/Karbon-RegularItalic.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F8F8;
}

nav {
    height: 4rem;
    min-width: calc(100vw - 2rem);
    background: transparent linear-gradient(89deg, #005CB9 0%, #00FFFF 150%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

    nav.paginacion {
        min-width: auto;
        width: 100%;
    }
    nav > * {
        color: #fff;
        font-family: "Karbon", sans-serif;
        max-height: 100%;
        display: flex;
        flex-direction: row;
    }

h1 {
    font-family: "Karbon", sans-serif;
}

h2 {
    font-family: "Karbon", sans-serif;
}

h3 {
    font-family: "Karbon", sans-serif;
}

h4 {
    font-family: "Karbon", sans-serif;
}

h5 {
    font-family: "Karbon", sans-serif;
}

h6 {
    font-family: "Karbon", sans-serif;
}

h1.strong {
    font-family: "Karbon-Bold", sans-serif;
}

h2.strong {
    font-family: "Karbon-Bold", sans-serif;
}

h3.strong {
    font-family: "Karbon-Bold", sans-serif;
}

h4.strong {
    font-family: "Karbon-Bold", sans-serif;
}

h5.strong {
    font-family: "Karbon-Bold", sans-serif;
}

h6.strong {
    font-family: "Karbon-Bold", sans-serif;
}

h1.blue {
    color: #004CAC;
}

h2.blue {
    color: #004CAC;
}

h3.blue {
    color: #004CAC;
}

h4.blue {
    color: #004CAC;
}

h5.blue {
    color: #004CAC;
}

h6.blue {
    color: #004CAC;
}

p {
    font-family: "Karbon", sans-serif;
    font-size: 0.875rem;
    color: #727374;
}

    p strong {
        font-family: "Karbon-Medium", sans-serif;
    }

hr {
    border: 1px solid #FED400;
    width: 90%;
    margin: 0.05rem 0 1rem 0;
}

textarea {
    width: 100%;
    border-radius: 15px;
    border: 1px solid #C1CBEA;
    padding: 0.4rem 1rem;
    resize: none;
    outline: none;
    font-size: 12pt;
}

    textarea:focus {
        border: 1px solid #2A77FF;
    }

hr.dashed {
    border: 1px dashed rgba(190, 187, 187, 0.4431372549);
    width: 90%;
}

.m-1 {
    margin: 0.3rem;
}

.m-2 {
    margin: 0.6rem;
}

.m-3 {
    margin: 0.9rem;
}

.m-4 {
    margin: 1.2rem;
}

.mt-1 {
    margin-top: 0.3rem;
}

.mt-2 {
    margin-top: 0.6rem;
}

.mt-3 {
    margin-top: 0.9rem;
}

.mt-4 {
    margin-top: 1.2rem;
}

.mt-5 {
    margin-top: 1.6rem;
}

.mb-1 {
    margin-bottom: 0.3rem;
}

.mb-2 {
    margin-bottom: 0.6rem;
}

.mb-3 {
    margin-bottom: 0.9rem;
}

.mb-4 {
    margin-bottom: 1.2rem;
}

.ml-1 {
    margin-left: 0.3rem;
}

.ml-2 {
    margin-left: 0.6rem;
}

.ml-3 {
    margin-left: 0.9rem;
}

.ml-4 {
    margin-left: 1.2rem;
}

.mr-1 {
    margin-right: 0.3rem;
}

.mr-2 {
    margin-right: 0.6rem;
}

.mr-3 {
    margin-right: 0.9rem;
}

.mr-4 {
    margin-right: 1.2rem;
}

.tooltip-container {
    padding-left: 1rem;
}

td {
    position: relative;
}

.tooltip {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    position: relative; /* Asegura que el tooltip se posicione correctamente */
    overflow: visible; /* Permite que el tooltip se muestre fuera del contenedor */
}

.tooltip-info {
    visibility: hidden;
    min-width: 15rem;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 9999;
    transform: translate(-125px, 18px);
}

.tooltip:hover > span.tooltip-info {
    visibility: visible;
    top: 0px;
}

span.tooltip-info {
    width: auto;
    padding: 0.5rem 1rem;
    font-family: "Karbon", sans-serif;
}

.see-more {
    color: #004CAC;
    cursor: pointer;
}

.content {
    display: flex;
}

.list_item {
    display: inline-block;
}

.sidebar {
    min-width: 20rem;
    min-height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #D4E7FF;
    box-shadow: 0px 0px 6px rgba(7, 255, 214, 0.168627451);
    position: static;
    top: 4rem;
    left: 0;
    flex-direction: column;
    background-color: #fff;
    transition: 0.3s ease;
    overflow-x: hidden;
}

    .sidebar.sidebar_min {
        min-width: 5.5rem;
        min-height: calc(100vh - 4rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #D4E7FF;
        box-shadow: 0px 0px 6px rgba(7, 255, 214, 0.168627451);
        position: static;
        top: 4rem;
        left: 0;
        flex-direction: column;
        background-color: #fff;
        /*transition: 0.3s ease;
        transition: 0.3s ease-in-out;*/
    }

        .sidebar.sidebar_min > .sidebar_info {
            border: none;
        }


            .sidebar.sidebar_min > .sidebar_info > .sidebar_minimize {
                position: relative;
                top: 0px;
                padding-left: 22px;
                border: none;
            }


    .sidebar > .sidebar_info > .sidebar_minimize {
        position: relative;
        top: 0px;
        padding-left: 25px;
    }

.sidebar_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 2rem;
}


.sidebar_profile img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #D4E7FF;
}



/*PARA OCULTAR SECCION DE NOMBRE USUARIO Y PERFIL*/
.sidebar.sidebar_min .sidebar_profile h3 {
    opacity: 0;
    color: #F8F8F8;
    width: 0px;
}
.sidebar.sidebar_min .sidebar_profile h4 {
    opacity: 0;
    color: #F8F8F8;
    width: 0px;
}


.sidebar.sidebar_min .sidebar_profile hr {
    height: 5px;
    border-radius: 7px 7px 7px 7px;
    transition: 0.2s ease;
    transform: translateY(10px)
}




/*PARA REAPARACER LOS H3 Y H4*/
.sidebar .sidebar_profile h3 {
    opacity: 1;
    transition-duration: 0.4s;
}

.sidebar .sidebar_profile h4 {
    opacity: 1;
    transition-duration: 0.4s;
    
}



.sidebar.sidebar_min .sidebar_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 1rem;
}

.sidebar.sidebar_min .sidebar_profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #D4E7FF;
    transition: 1s ease;
}

.sidebar_info {
    border: 1px solid #D4E7FF;
    padding-top: 2rem;
    width: 100%;
    transition: 0.3s ease;
}

.sidebar_menu {
    width: 100%;
}

.sidebar_menu__items .sidebar_menu__item:nth-of-type(odd) {
    background-color: #F0F0F0;
}

.sidebar_menu__item {
    justify-content: center;
    height: 2.5rem;
    position: relative;
}

    .sidebar_menu__item > * {
        position: absolute;
    }

    .sidebar_menu__item > li > a.active::before {
        content: "";
        height: 90%;
        width: 4px;
        background-color: #004CAC;
        left: 0;
        top: 0;
        position: absolute;
    }

    .sidebar_menu__item li a.active {
        background-color: #D4E7FF;
        font-family: "Karbon-Medium", sans-serif;
    }

.sidebar_menu__items,
.sidebar_menu__item,
.item_slaves {
    display: flex;
    flex-direction: column;
    text-align: left;
    cursor: pointer;
}

    .sidebar_menu__items a {
        color: #004CAC;
        font-size: 1.2rem;
        position: relative;
    }

.nav-item {
    height: 100%;
}

.sidebar_menu__item > li .nav-link {
    width: 100%;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.sidebar_menu__items a.item__master {
    padding: 0.4rem 1.5rem;
    position: relative;
}

.sidebar_menu__items a.item__slave {
    padding: 0.4rem 2.5rem;
    position: relative;
}

.item_slaves.show {
    display: contents;
    transition: display 0.4s ease-in;
}

.item_slaves {
    display: none;
}


.info-sistema {
    display: flex;
    justify-content: space-evenly;
    width: 350px;
    align-items: center;
}

    .info-sistema img {
        max-height: fit-content;
    }

.container_mg {
    padding: 0 3em;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    font-size: 1em;
    font-family: "Karbon-Medium", sans-serif;
    position: relative;
    overflow: hidden;
    transition: background-color 400ms;
    outline: none;
    display: flex;
    flex-direction: row;
}

span.ripple {
    position: absolute; /* The absolute position we mentioned earlier */
    border-radius: 25px;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(180, 192, 255, 0.7);
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.btn_mg {
    border: none;
    border-radius: 25px;
    color: #004CAC;
    letter-spacing: 0px;
    width: 13.5rem;
    display: flex;
    align-items: center;
    background-color: #F8F8F8;
    justify-content: center;
}

.btn_mgprev {
    border: none;
    border-radius: 25px;
    color: #004CAC;
    letter-spacing: 0px;
    width: 8rem;
    display: flex;
    align-items: center;
    background-color: #F8F8F8;
    justify-content: center;
    height: 27px;
}

.btn_mg__auto {
    width: auto;
}

.btn_mg__primary {
    padding: 0.4rem 1rem;
    background-color: #FED400;
    height: 27px;
}

    .btn_mg__primary:disabled {
        background-color: #B6B7B8;
        cursor: default;
        opacity: 0.7;
        height: 27px;
    }

.btn_mg__secondary {
    border: 1px solid #FED400;
    padding: 0.4rem 1rem;
    background-color: #F8F8F8;
    height: 27px;
}

    .btn_mg__secondary > * {
        width: 100%;
    }

    .btn_mg__secondary:disabled {
        background-color: #B6B7B8;
        cursor: default;
        opacity: 0.7;
    }

    .btn_mg__secondary.tam_icons {
        height: 33px;
    }

    .btn_mg__tertiary {
        border-radius: 7px;
        padding: 0.3rem 0.5rem;
        background-color: #F8F8F8;
    }

    .btn_mg__tertiary:disabled {
        background-color: #B6B7B8;
        cursor: default;
        opacity: 0.7;
    }

label {
    color: #3D3D3D;
    font-family: "Karbon", sans-serif;
    font-size: 1.1rem;
}

input, select {
    border-radius: 25px;
    outline: none;
    border: 1px solid rgba(9, 57, 208, 0.2);
    padding: 0.35em 1.1em;
    font-family: "Karbon", sans-serif;
    color: #3D3D3D;
    font-size: 12pt;
}

    input.squared {
        border-radius: 7px;
    }

    input::placeholder {
        color: #B6B7B8;
        font-family: "Karbon", sans-serif;
    }

    input:focus, select:focus {
        box-shadow: 0px 0px 6px rgba(7, 255, 214, 0.168627451);
        border-color: #2A77FF;
    }

    input.no_valido {
        box-shadow: 0px 0px 6px #FB7373;
        border: 1px solid #FB7373;
        padding-right: 1.5em;
        position: relative;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Corrección para firefox*/
    input[type=number] {
        -moz-appearance: textfield;
    }

    select option {
        padding-top: 0;
        border-radius: 20px;
        border: 1px solid #FB7373;
        background-color: #F8F8F8;
    }

    select.no_valido {
        box-shadow: 0px 0px 6px #FB7373;
        border: 1px solid #FB7373;
        padding-right: 1.5em;
        position: relative;
    }

textarea.no_valido {
    box-shadow: 0px 0px 6px #FB7373;
    border: 1px solid #FB7373;
    padding-right: 1.5em;
    position: relative;
}
    textarea.no_valido.position-static {
        position: static
    }

.content-cards {
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    grid-gap: 25px;
}

.card {
    border-radius: 10px;
    border: 1px solid rgba(9, 57, 208, 0.2);
    display: flex;
    flex-direction: column;
    padding: 1.5em 2.7em;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.0588235294);
    background-color: #fff;
    min-width: 15.9rem;
}

.card_md {
    width: 90%;
}

.card > .card_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
}

    .card > .card_header > * {
        color: #004CAC;
        font-family: "Karbon-Medium", sans-serif;
        font-size: 2rem;
    }

    .card > .card_header > h2 {
        padding: 3rem 0;
    }

a {
    text-decoration: none;
    font-family: "Karbon", sans-serif;
    font-size: 0.8rem;
    display: inline;
}

    a.link_mg {
        color: #004CAC;
    }

.ptmg1 {
    padding-top: 0.5em;
}

.ptmg2 {
    padding-top: 0.7em;
}

.ptmg3 {
    padding-top: 0.9em;
}

.ptmg4 {
    padding-top: 1.1em;
}

.pbmg1 {
    padding-bottom: 0.5em;
}

.pbmg2 {
    padding-bottom: 0.7em;
}

.pbmg3 {
    padding-bottom: 0.9em;
}

.pbmg4 {
    padding-bottom: 1.1em;
}

input[type=password] {
    padding-right: 1.5em;
}

table {
    border-radius: 7px;
    font-family: "Karbon", sans-serif;
    width: 100%;
    /*overflow: hidden; Se oculta para que aparezca el tooltip, se agrega overflow-x*/
    overflow-x: clip;
    border: #D4E7FF;
    border-collapse: separate;
    border-spacing: 0 0.6rem;
    position: relative;
}

td,
th {
    padding: 0.5rem 1rem;
    border-spacing: 0 1rem;
}

tr td:first-child {
    border-radius: 7px 0 0 7px;
    border-left: 1px solid #C1CBEA;
}

tr td:last-child {
    border-radius: 0 7px 7px 0;
    border-right: 1px solid #C1CBEA;
}

table th {
    border: none;
}

td {
    border-bottom: 1px solid #C1CBEA; /* Apply border to the bottom of each cell */
    border-top: 1px solid #C1CBEA; /* Apply border to the bottom of each cell */
}

th {
    background-color: #004CAC;
    color: #fff;
    letter-spacing: 0px;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1; /* Ensure headers are above the table content */
}

td {
    color: #3D3D3D;
    text-align: center;
}

table td:nth-child(1) {
    color: #004CAC;
    font-family: "Karbon-Bold", sans-serif;
}

.table-wrapper {
    width: 100%;
    height: 16rem;
    overflow-y: auto; /* Ensure vertical scrolling */
    position: relative; /* Ensure the wrapper is a positioned element */
}

ul {
    display: flex;
    border: 1px solid rgba(9, 57, 208, 0.2);
    border-radius: 7px;
}

li {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
}

    li > div {
        flex-grow: 1;
        flex-basis: auto;
        margin: 0 5px;
    }

.dropdown_mg {
    position: relative;
    visibility: hidden;
    transition: 0.3s ease;
}

.profile {
    position: relative;
    display: inline-grid;
}

.text-logout {
    font-size: 18px;
    line-height: 12px;
}

.dropdown_mg.active {
    display: flex;
    visibility: visible;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 30px;
    background-color: #F8F8F8;
    border-radius: 7px;
    border: 3px solid #D4E7FF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.0588235294);
    padding: 0.4rem 0.4rem;
    width: 180px;
    transition: 0.5s ease;
}

.actions {
    height: 50%;
    width: auto;
    display: flex;
    text-align-last: end;
}

#logout {
    margin-left: 1rem;
}

.dropdown_mg a {
    font-family: "Karbon-Medium", sans-serif;
    color: #004CAC;
    padding: 8px 4px;
    text-align: right;
}

    .dropdown_mg a:hover {
        background-color: #D4E7FF;
    }

    .dropdown_mg a::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0.1rem;
        background-color: rgba(212, 231, 255, 0.76);
        left: 0;
    }

.login {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.login_info {
    background: url("../images/BlueBackground.png");
    width: 100%;
    height: 100%;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .login_info > img {
        width: 20rem;
    }

    .login_info > h2 {
        color: #fff;
        font-size: 5rem;
    }

    .login_info > h3 {
        color: #fff;
        font-size: 3rem;
    }

.login_form {
    width: 100%;
    padding: 10rem;
    display: flex;
    align-items: center;
    background-color: #F8F8F8;
    justify-content: center;
}

.form_mg {
    display: flex;
    flex-direction: column;
}

.form_mg__item {
    display: flex;
    flex-direction: column;
}

.form_mg > .form_mg__item > label {
    padding-left: 0.6rem;
}

.form_mg > .form_mg__item > a {
    padding-left: 0.8rem;
}

.form_mg > .form_mg__item > button {
    text-align: center;
}

.form_mg__item {
    margin-bottom: 1rem;
}

.form_mg > button.btn_mg {
    align-self: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* semi-transparent background */
  z-index: 9000; /* Ensure it appears above other content */
  display: none;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}


    .modal.modal-show {
        display: flex;
        visibility: visible;
        opacity: 1;
    }

    .modal.modal-hide {
        display: none;
        bottom: -10rem;
    }

.modal-content.modal-content-show {
    visibility: visible;
    /*animation: modal-up 0.3s forwards;
    animation-timing-function: ease-in;*/
    opacity: 1;
}

.modal-content.modal-content-hide {
    /*animation: modal-down 0.3s forwards;*/
    /*animation-timing-function: ease-in;*/
    opacity: 0;
    display: block;

}

button.close-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal-content {
    /*height: 70%;*/
    display: block;
   /* bottom: -10rem;*/
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: #fefefe;
    border-radius: 25px;
    border: 1px solid #D4E7FF;
    position: relative;
    transition: all ease 0.4s;
    /*transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;*/
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
}

.modal-content-lg2 {
    height: auto;
    max-height: 90vh;
    width: 90%;
}

.modal-content-lg {
    height: auto;
    max-height: 70vh;
    width: 80%;
}

.modal-content-md {
    height: auto;
    max-height: 50vh;
    width: 60%;
}

.modal-body {
    overflow-y: auto;
}

.modal-content-sm {
    height: auto;
    max-height: 30vh;
    width: 40%;
}

.modal-footer {
    display: flex;
    justify-content: space-evenly;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-xs-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col-xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* Media queries for small devices */
@media (min-width: 576px) {
    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

h3.chip {
    min-width: 4rem;
    max-height: 1.5rem;
    border-radius: 7px;
    display: inline-flex;
    padding: 0.4rem 0;
    align-items: center;
    justify-content: center;
}

.chip.black {
    background-color: #3D3D3D;
    color: #F0F0F0;
}

.chip.gold {
    background-color: #FED400;
    color: #3D3D3D;
}

.chip.standar {
    background-color: #B6B7B8;
    color: #F0F0F0;
}

.toggler {
    height: 2.5rem;
    padding: 0.4rem 1rem;
    display: inline-flex;
    align-items: center;
    padding: 1.4rem 0.5rem;
}

.toggler.responsiveToogle {
    min-height: 49.6px;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    display: flex;
    /* Se eliminan las siguientes propiedades de la clase base */
    padding: 0; 
    align-items: initial;
}


.toggler.f-col {
    height: auto;
}

        .toggler.f-col > .btn_mg__toggler {
            width: 100%;
        }

.btn_mg__toggler {
    border-radius: 7px;
    padding: 0.3rem 0.5rem;
    border: 1px solid rgba(9, 57, 208, 0.2);
    min-width: 9.5rem;
    text-align: center;
    min-height: 1.5rem;
    justify-content: flex-start;
}


.scrolling {
    display: flex;
    overflow-x: auto; /* Permite el desplazamiento horizontal si los ítems son más anchos que el contenedor */
    white-space: nowrap; /* Previene el salto de línea de los ítems */
    border: 1px solid #ccc; /* Opcional, para ver los bordes del contenedor */
}

    .btn_mg__toggler.active {
        background-color: #F8F8F8;
        border: 1px solid #2A77FF;
        box-shadow: 0px 0px 6px rgba(7, 255, 214, 0.168627451);
    }

.text-toggler > * {
    text-overflow: ellipsis;
}

.accordion {
    position: relative;
}

.accordion-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-radius: 7px;
    border: 1px solid #C1CBEA;
    height: 2rem;
    position: relative;
    z-index: 20;
    align-items: center;
    cursor: pointer;
}

.accordion-content {
    overflow: hidden; /* Ensure content doesn't overflow */
    max-height: 0; /* Start with collapsed height */
    transition: max-height 0.3s ease; /* Smooth transition for height change */
    background-color: #F1F6FF;
    border-radius: 0 0 7px 7px;
}

.accordion-header > h3 {
    color: #3D3D3D;
    margin-left: 2rem;
}

.accordion-content.open {
    border: 1px solid #C1CBEA;
    max-height: 500px; /* Expand to fit content when open */
    overflow: auto;
}

.accordion-header > button.loading > img.loading {
    animation: rotation 1s infinite linear;
}

.accordion-header > h2 {
    margin-left: 3rem;
}

.accordion-header > button {
    margin-right: 0.5rem;
}

    .accordion-header > button > img {
        transition: transform 0.5s ease;
    }

        .accordion-header > button > img.rotated {
            transform: rotate(180deg);
        }

.slideIn {
    animation: slideIn 0.5s forwards;
}

.slideOut {
    animation: slideOut 0.5s forwards;
}

.switch {
    position: relative;
    display: inline-block;
    height: 0.875rem;
    width: 1.75rem;
}

    .switch input {
        opacity: 0;
        height: 0;
        width: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #E8E8E8;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

    .slider::before {
        position: absolute;
        content: "";
        height: 0.563rem;
        width: 0.563rem;
        left: 2px;
        bottom: 2px;
        -webkit-transition: 0.4s;
        background-color: #fff;
        transition: 0.4s;
    }

input:checked + .slider {
    background-color: #6EA0F7;
}

input + .slider {
    background-color: #E8E8E8;
}

input:focus + .slider {
    box-shadow: 0 0 1px #6EA0F7;
}

input + .slider::before {
    background-color: #707070;
}

input:checked + .slider::before {
    background-color: #fff;
    -ms-transform: translateX(0.875rem);
    -webkit-transform: translateX(0.875rem);
    transform: translateX(0.875rem);
}

.slider.round {
    border-radius: 25px;
}

    .slider.round::before {
        border-radius: 25px;
    }

.uploader {
    width: 10rem;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

    .uploader .btn_mg {
        height: 3rem;
        width: 10rem;
    }

.filename {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
    white-space: nowrap;
}

.upload-info > h5 {
    text-align: left;
}

.btn-close {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    right: 5px;
    width: 15px;
    height: 15px;
    color: #FB7373;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50%;
    border-radius: 50%;
    border: none;
    background-color: red;
    color: #F8F8F8;
    font-size: 12px;
    cursor: pointer;
}

.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-85 {
    width: 85%;
}

.w-80 {
    width: 80%;
}

.w-60 {
    width: 60%;
}

.w-55 {
    width: 55%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}
.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

.m-max {
    margin: 6.5rem;
}
.justify-content-end {
    justify-content: end;
}


.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: start;
}

.align-content-center {
    align-content: center;
}

.text-align-center {
    text-align: --webkit-center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.sin-height {
    height: auto !important; /* Sobrescribe la altura definida anteriormente */
}

.center_text_items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-container {
    overflow-y: visible;
}

/* CARD IMAGES*/
.card_image {
    position: relative;
    max-width: 300px;
    overflow: hidden;
    /* padding-bottom: 10px; */
    border-radius: 10px;
    border: 1px solid rgba(9, 57, 208, 0.2);
    flex-direction: column;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.0588235294);
    background-color: #fff;
    /* min-width: 15rem; */
    max-width: 300px;
}

.card-footer {
    padding: 4%;
}

    .card-footer .card_image {
        margin: 0 auto;
    }

.image-wrapper {
    /*width: 300px;
  height: 200px;*/
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}

img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/*
img:hover {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
    transition: all 1s linear;
}
*/
.text-box-wrapper {
    padding: 20px;
}

/* FIN CARD IMAGES*/
.elements_two_column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.elements_three_column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.width_btn_close {
    width: 3rem;
}

.text_error_validacion {
    color: #FB7373;
    font-size: 0.8rem;
    font-family: "Karbon", sans-serif;
}

input[type=radio] {
    transform: scale(1.4);
    margin: 11px;
    border-radius: 50%;
    cursor: pointer;
}

    input[type=radio]:checked {
        background-color: #2A77FF;
        border-color: #2A77FF;
    }

.btns-in-margin-rigth {
    position: absolute;
    right: 1rem;
}

.btn_mg_icons {
    border: none;
    border-radius: 25px;
    color: #004CAC;
    letter-spacing: 0px;
    width: 1.7rem;
    display: flex;
    align-items: center;
    background-color: #F8F8F8;
    justify-content: center;
}

    .noborder {
        border-radius: 0px;
    }

.img-icons-acciones {
    width: 30px;
}

.supr_padding {
    padding: 0 !important;
}

.sliding-div {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    position: relative; /* Para animar el desplazamiento */
}

.visibleY {
    transform: translateY(0);
    opacity: 1;
}

.hiddenY {
    transform: translateY(-50%); /* Desplaza el div completamente hacia un costado */
    opacity: 0;
}

.visibleX {
    transform: translateX(0);
    opacity: 1; 
}

.hiddenX {
    transform: translateX(100%); /* Desplaza el div completamente hacia un costado */
    opacity: 0;
}

.stepper {
    margin-top: 10px;
    margin-bottom: 35px;
}

.marginTopLeftProsp {
    margin-top: 6.5rem;
    margin-left: 6.5rem;
    margin-bottom: 6.5rem;
}

.marginTopProsp {
    margin-top: 6.5rem;
    margin-left: 2rem;
    margin-bottom: 6.5rem;
}

.nowrap {
    white-space: nowrap;
}

@keyframes modal-up {
    from {
        bottom: -10rem;
    }

    to {
        bottom: 0;
    }
}

@keyframes modal-down {
    from {
        bottom: 0;
    }

    to {
        bottom: -10rem;
        visibility: hidden;
    }
}

.f-row {
    display: flex;
    flex-direction: row;
}

.f-col {
    display: flex;
    flex-direction: column;
}

.icon-botton {
    cursor: pointer;
    align-items: center;
    border: none;
    border-radius: 100%;
    display: contents;
    justify-content: center;
    width: 31px;
    color: #004CAC; /*rojo #FF0000;*/
    background-color: #F8F8F8;
    padding: 0px;
    height: 29px;
}

.icon-retorno {
    cursor: pointer;
    border: none;
    color: #004CAC;
}

.containerViewPdf {
    min-height: calc(95vh - 1rem);
    margin-top: 20px;
    width: 100%;
    display: inline-block;
}


iframe {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: block;
    border: none;
}

.container_pdf {
    /*position: relative;*/
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container_pdf iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


.text-value {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    margin-top: 5px;
}


@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

@keyframes shine {
    from {
        left: 0;
    }

    to {
        right: 0;
    }
}

@media (min-width: 480px) {
    .text {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .login_form {
        padding: 5rem;
    }
}

@media (min-width: 1200px) {
    .login_form {
        padding: 6rem;
    }
}

@media (min-width: 1501px) {
    .login_form {
        padding: 10rem;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}