
.table-accordion2 tr td:first-child {

    border-radius: 0px;
    border-left: 0px;
}

.table-accordion2 tr td:last-child {
    border-radius: 0px;
    border-right: 0px;
}

.table-accordion2 tr th:first-child {
    border-radius: 12px 0 0 12px;
    border-left: 1px solid;
}

.table-accordion2 tr th:last-child {
    border-radius: 0 12px 12px 0;
    border-right: 1px solid;
}


.table-accordion2 td {
    border-bottom: 0px;
    border-top: 0px;
}


.table-accordion2 thead {
    height: 28px;

}


.accordionV2 {
    position: relative;
}

.accordionV2-header {
    /*  display: flex; */
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-radius: 7px;
    border: 1px solid #C1CBEA;
    height: 2rem;
    /*position: relative;*/
    z-index: 20;
    align-items: center;
    cursor: pointer;
    align-content: center;
}

.accordionV2-icon {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    flex-direction: row;
    top: 4px;
    right: 15px;
}

.accordionV2-header > h3 {
    color: #3D3D3D;
    margin-left: 2rem;
}

.accordionV2-header > button.loading > img.loading {
    animation: rotation 1s infinite linear;
}

.accordion-contentV2 {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;

}

    .accordion-contentV2.open {
        border: 0px solid #F8F8F8;
        max-height: 500px;
        overflow: auto;
        position: sticky
    }


.accordionV2-header > div > button {
    margin-right: 0.5rem;
}

    .accordionV2-header > div > button > img {
        transition: transform 0.5s ease;
    }

        .accordionV2-header > div > button > img.rotated {
            transform: rotate(180deg);
        }
