.popover-container {
    white-space: nowrap;
    background-color: #D0E6FF; /*#F0F7FF*/
    color: #353333;
    min-width: 100px;
    max-width: 200px;
    border-radius: 25px;
    text-align: center;
    padding: 4px 13px 4px 11px;
    font-family: Karbon;
    font-size: 15pt;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
}
