.table-accordion tr td:first-child {
    border-radius: 0px;
    border-left: 0px;
}

.table-accordion tr td:last-child {
    border-radius: 0px;
    border-right: 0px;
}

.table-accordion td {
    border-bottom: 0px;
    border-top: 0px;
}

.paddingSpacing {
    padding: 0px;
    border-spacing: 0px;
}

.table-accordion thead {
    height: 34px;
}

/* Set header to stick to the top of the container. */
table.table-accordion thead tr th {
    position: sticky;
    top: 0;
}

/* Because we must set sticky on th, we have to apply background styles here rather than on thead */
table.table-accordion th {
    /* With border-collapse, we must use box-shadow or psuedo elements  for the header borders */
    box-shadow: 0px 0px 0 0px #0074C3;
}

/* Basic Demo styling */
table.table-accordion {
    width: 100%;
    font-family: sans-serif;
    overflow: visible;
    margin-top: -9px;
}

.contentTableOrden {
    padding-right: 30px;
    overflow-y: auto;
    max-height: 1200px;
}


.colorHeaderTable2 {
    background-color: #0074C3;
}

.w-95{
    width: 95%
}


.content-headertable {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.content-block {
    margin-right: 12px;
}

.item-header {
    width: 100%;
    justify-content: center;
    align-content: center;
}

.white {
    color: #FFFFFF;
}

.spaceTextHeader {
    word-spacing: 20px
}

.contentTableOrden::-webkit-scrollbar {
    width: 12px;
}

.contentTableOrden::-webkit-scrollbar-button {
    width: 8px;
    height: 8px;
}

.contentTableOrden::-webkit-scrollbar-track {
    background: #C1CBEA;
    border: thin solid #1a1f25;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.contentTableOrden::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(top, #447fd9, #0B4891);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 225, 0.5), inset 1px 0 0 rgba(255, 255, 255, 0.4), inset 0 1px 2px rgba(255, 255, 255, 0.3);
    border: thin solid #232c34;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.contentTableOrden::-webkit-scrollbar-thumb:hover {
    background: -webkit-linear-gradient(top, #447fd9, #0B4891);
}

    /*CUANDO NO SE INTERACTURA CON EL SCROLL*/
/*.contentTableOrden::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(68, 127, 112, 0.6);
    }*/


.input-wrapper {
    position: relative;
    width: 271px;
}

.input-fitro {
    position: relative;
    width: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(9, 57, 208, 0.2);
    margin-left: 10px;
    background-color: white;
}

.inputBusqueda {
    box-sizing: border-box;
    color: #191919;
    padding: 5px 37px 5px 10px;
    width: 100%;
}

.input-icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.input-icon.icon {
    left: unset;
    right: 9px;
}

.input-wrapper input {
    border-radius: 5px;
}

.accordionStyle {
    background-color: #5F92DB; 
}

.colorHeaderDistribucion {
    color: white;
}


.accordionStyle2 {
    background-color: #016AB8; /* #6492BF; #84A4CF #6499E6 #68A0F0 #5C87C4 #004CAC #0063E0 #0276CC #016AB8 #015A9C #0170C2 #0275B5*/
}

table.table-accordion2 th {
    background-color: #5F92DB; 
}

.content-filtro {
    height: 70%;
    width: 100%;
    display: flex;
    /*padding-left: 4rem;*/
    padding-right: 4rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    /*background-color: #fefefe;*/
    border-radius: 5px;
    /*border: 1px solid #3D3D3D;*/
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

