.validacion {
    align-items: center;
    position: relative;
}

.validacion button {
    position: absolute;
    right: -30px;
}

#download-btn {
    padding: 1.3rem 1rem;
}

#upload-btn {
    padding: 1.3rem 1rem;
}